// cores principais
$colorBg: #040714;
$colorTxtPrimario: silver;
$colorTxtSecundario: #f9f9f9;

// cores botões
$BGcolorBTprimario: #6421ff;
$BGcolorBTsecundario: #0063e5;
$BGcolorDark: #000;